variables:
  GITLAB_TOKEN: $GITLAB_TOKEN

before_script:
    - mkdir config
    - "echo GITLAB_TOKEN: $GITLAB_TOKEN > config/config.js"

pages:
  stage: deploy
  image: python:latest
  script:
    - pip install -r requirements.txt
    - mkdocs build --site-dir public

  artifacts:
    paths:
      - public