variables:
  GITLAB_TOKEN: $GITLAB_TOKEN

before_script:
  - mkdir -p public/js
  - echo "const GITLAB_TOKEN='${GITLAB_TOKEN}';" > public/js/config.js
  - console.log $GITLAB_TOKEN

pages:
  stage: deploy
  image: python:latest
  script:
    - mkdir -p docs/js
    - echo "const GITLAB_TOKEN='${GITLAB_TOKEN}';" > docs/js/config.js
    - pip install -r requirements.txt
    - mkdocs build --site-dir public

  artifacts:
    paths:
      - public