before_script:
  - mkdir public
  - echo "Done: Created the public directory to move the site into"

pages:
  stage: deploy
  image: python:latest
  script:
    - pip install -r requirements.txt
    - mkdocs build --site-dir site
    - mv site/* public/
  artifacts:
    paths:
      - public