variables:
  GITLAB_TOKEN: $GITLAB_TOKEN

before_script:
  - mkdir -p public/js
  - echo "const GITLAB_TOKEN='${GITLAB_TOKEN}';" > public/js/config.js

pages:
  stage: deploy
  image: python:latest
  script:
    - pip install -r requirements.txt
    - mkdocs build --site-dir public
    - cp public/js/config.js public/
    - echo "Verifying config file location..."
    - ls -la public/js/config.js
    - ls -la public/config.js
  artifacts:
    paths:
      - public