variables:
  GITLAB_TOKEN: $GITLAB_TOKEN

before_script:
  - mkdir public
  - echo "Done - Created the public directory to move the site into"

pages:
  stage: deploy
  image: python:latest
  script:
    - mv site/* public/
    - echo "GITLAB_TOKEN=${GITLAB_TOKEN}" > public/kylifornication/docs/js/config.js
    - pip install -r requirements.txt
    - mkdocs build --site-dir site

  artifacts:
    paths:
      - public