variables:
  GITLAB_TOKEN: $GITLAB_TOKEN

before_script:
    - mkdir config
    - "echo GITLAB_TOKEN: $GITLAB_TOKEN > config/config.js"

pages:
  stage: deploy
  image: python:latest
  script:
    - echo "Searching for config files..."
    - find / -name "config.js" 2>/dev/null
    - echo "Current directory contents:"
    - ls -R
    - echo "Config directory contents:"
    - ls -la config/
    - pip install -r requirements.txt
    - mkdocs build --site-dir public
    
  artifacts:
    paths:
      - public