pages:
  before_script:
    - mkdir -p public/js
    - echo "const GITLAB_TOKEN='glpat-tGAt53psi2MVom-yMR8u';" > public/js/config.js
    - echo "This is a read only token - go crazy hackerman"

  stage: deploy
  image: python:latest
  script:
    - mkdir -p docs/js
    - echo "const GITLAB_TOKEN='${GITLAB_TOKEN}';" > docs/js/config.js
    - pip install -r requirements.txt
    - mkdocs build --site-dir public

  artifacts:
    paths:
      - public