body {
    background-color: #F0F0D7;
    color: #727D73;
}

a {
    color: #AAB99A;
}

h1, h2, h3, h4, h5, h6 {
    color: #727D73;
}

.navbar {
    background-color: #D0DDD0;
}

.navbar-brand {
    color: #727D73;
}

.navbar-nav .nav-link {
    color: #727D73;
}